.nav{
  width: 100%;
  /* -ms-flex: 0 0 90px;
  flex: 0 0 90px; */
  background-color: #cacaca;
  color: #222;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  /* display: -ms-flexbox; */
  display: flex;
  flex-direction: row;
  /* -ms-flex-align: center;
  align-items: center; */
  /* -ms-flex-pack: justify;
  justify-content: space-between; */
}

.my_icon {
  border-right: 1px solid #eee;
}

.nav button {
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
  width: 50px;
  background-color: #eaeaea;
  font-size: 14px;
}
.message-wrap {
  display: flex;
  flex: 1;
  height: 100%;
}
.typein-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-wrap {
  display: flex;
  flex: 1;
  height: 95%;
}

/* .upload_input {
  z-index: 2;
  width: 30px;
  position: absolute;
  left: 40px;
  top: 435px;
  opacity: 0;
} */

.friends_list {
  border: 1px solid #eee;
  background-color: #ccc;
  /* width: 29%; */
}
.onlinechat_box {
  /* width: 70%; */
  height: 100%;
}